doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/tossup.css')
		title Notices
	body
		h1 Notices

		h2 Restricted access
		p In the interest of question security, access to this website, including all of its contents, is restricted to players and staff who have participated in a mirror of SGI, and writers of SGI only.
		p You must obtain access through the SGI private forum on hsquizbowl.org. Do not share any links to this website or circulate any of its contents outside of the SGI private forum.

		h2 Errata
		p Follow #[a(href='') these instructions] to report errata.

		h2 #[span.dag †] Compare with care.
		p Questions may have substantially changed in different set editions. Be responsible: only compare stats from identical questions having sufficient sample sizes.
		p.
			Two tossups are only identified as editions of the same tossup if at least 2 of the following fields match: Answer, Category.
			#[br]
			Two bonuses are only identified as editions of the same bonus if at least 2 of the following fields match: Answer 1, Answer 2, Answer 3, Category.
