doctype html
html
	head
		meta(charset='utf-8')
		link(rel='stylesheet', type='text/css', href='/css/tossup.css')
		link(rel='stylesheet', type='text/css', href='/css/gloss.css')
	body
		//- header
		//- 	h1.acronym belgrade
		//- 	.lite
		//- 		p.words buzz event location graph demo
		//- 		svg.overlay.lines.coolhead(xmlns='http://www.w3.org/2000/svg')

		//- nav
		//- 	ul

		div.left
			p
				a(href="/index.html") Home

			p.center
				strong.edition
				br
				span.packet
				br
				a.prev ←
				| 
				span.tossup
				| 
				a.next →

			blockquote
				div.relative
					div.question
					svg.overlay.lines.rug

				//- p.relative
				//- 	span.question
				//- 	svg.overlay.lines.rug
				//- p
				//- 	span.answer-label ANSWER: 
				//- 	span.answer

				div.answer

				div.key
					small.line.last
						| Key:   
						span.get Correct 
						span.bb +Correct bounceback 
						span.neg –Incorrect

			h2(style="margin-bottom: 0;") Chart
			p(style="margin-top: -10px;")
				svg.chart

			//- p TODO: Show Conversion, 10s –5s, Rooms, Rooms with BzPt, Avg Buzz location (%)

		div.right

			h2 Buzzes
			table
				thead
					tr
						th(width=120) Team
						th(width=160) Player
						th Value
						th BzPt
						th BzPt%
						th BB?
						th(width=120) Answer
						th Pro?
						th(width=100) Site
						th Rm
						th Rd
				tbody.buzzes.stripe

			h2 All editions of this tossup
			table
				thead
					tr
						th Set edition
						th Packet
						th Tossup
						th Author
						th Category
						th Answer
						th Pwds
						th Wds
				tbody.editions

		script(src='js/all.js')
