doctype html
html
	head
		meta(charset='utf-8')
		title Belgrade
		link(rel='stylesheet', type='text/css', href='css/tossup.css')
		link(rel='stylesheet', type='text/css', href='css/gloss.css')
	body
		//- header
		//- 	h1.acronym belgrade
		//- 	.lite
		//- 		p.words buzz event location graph demo
		//- 		svg.overlay.lines.coolhead(xmlns='http://www.w3.org/2000/svg')

		//- nav
		//- 	ul

		div.left
			h2 Tossup
			div.packet
			div
				a.prev ←
				| 
				a.next →

			//- p
			//- 	u.category
			//- 	//- Author, Target conversion %

			blockquote
				div.relative
					div.question
					svg.overlay.lines.rug

				//- p.relative
				//- 	span.question
				//- 	svg.overlay.lines.rug
				//- p
				//- 	span.answer-label ANSWER: 
				//- 	span.answer

				div.answer

				div.key
					small.line.last
						| Key:   
						span.get Correct 
						span.bb +Correct bounceback 
						span.neg –Incorrect

			h2(style="margin-bottom: 0;") Chart
			p(style="margin-top: -10px;")
				svg.chart

		div.right
			h2 Buzzes
			table
				thead
					tr
						th Player
						th Team
						th Value
						th BzPt
						th BzPt%
						th Bounceback?
						th Ans
						th Rm
						th Rd
				tbody.buzzes

		script(src='js/all.js')
