doctype html
include includes/global.pug
html
	head
		include includes/base.pug
		include includes/analytics.pug
		+css
		link(rel='stylesheet', href='/fonts/Benton/fonts.css')
		style.
			body { font-family: 'BentonSans', sans-serif; text-align: center;
				height: 100vh; margin: 0; display: grid; grid-template-rows: 5em 1fr 5em; place-items: center center; }
			header { margin: 1em; border: 0; }
			h1, h2 { font-family: inherit; }
			.mast h1 { font-weight: 800; font-size: 2.8em; margin: 0; }
			.mast h2 { font-weight: 400; font-size: 1.4em; margin: 0.8em auto 2.8em; max-width: 13em; }
			@media screen and (max-width: 768px) { .typeahead { width: auto; } }
			.typeahead input.search { width: 100%; box-sizing: border-box; }
			.typeahead, .typeahead-results { text-align: left; }
			.ticker { display: grid; grid-template-columns: repeat(2, max-content); grid-auto-flow: dense;
			  row-gap: 0.15em; column-gap: 0.3em; justify-content: center; }
			.l { text-align: left; }
			.r { text-align: right; font-weight: 500; font-variant-numeric: tabular-nums lining-nums; }
			.l:first-of-type, .r:first-of-type { font-size: 1.4em; }
		+title(`every.buzz`)
	body
		header
			.typeahead
				input(type='text' placeholder="Search every.buzz").search

		main
			div
				.mast
					h1 every.buzz
					h2 Explore visualizations of detailed quizbowl stats made by Ophir Lifshitz

				.ticker
					+tickerPlural(ticker.gameeventtossup,       'buzzes recorded',      '')
					//- +tickerPlural(ticker.total_records,         'pieces of data',       '')
					+tickerPlural(ticker.tossup + ticker.bonus, 'question edition',     's')
					+tickerPlural(ticker.game,                  'game',                 's')
					+tickerPlural(ticker.player,                'player',               's')
					+tickerPlural(ticker.team,                  'team',                 's')
					+tickerPlural(ticker.tournament,            'tournament',           's')
					+tickerPlural(ticker.questionsetedition,    'question set edition', 's')
					+tickerPlural(ticker.questionset,           'question set',         's', basePath(url('question_sets')))
					//- TODO number of users

		+js
//
	Send comments to quizbowl@ophir.li.

	More coming soon!

	Thank you to my supporters on Patreon!
	https://www.patreon.com/hftf
