doctype html
include includes/global.pug
html
	head
		include includes/base.pug
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ Licensing policy`)
	body
		+header

		h1 Licensing policy
