doctype html
include includes/global.pug
html
	head
		meta(charset='utf-8')
		include includes/base.pug
		include includes/analytics.pug
		+css
		+title(`every.buzz ⬢ Important notices`)
	body
		+header

		h1 Important notices
		p Please read and understand the notices on this page before using this website.

		h2 #[span.dag †] Compare with care.
		p
			| Questions may have substantially changed in different set editions. 
			| Be responsible: only compare stats from identical questions having sufficient sample sizes.
		p
			| Two tossups are unified as editions of the same tossup only if at least 2 of the following fields match: 
			| Answer, Category.
			br
			| Two bonuses are unified as editions of the same bonus only if at least 2 of the following fields match: 
			| Answer 1, Answer 2, Answer 3, Category.
			br
			| There may be many false positives and false negatives.

		h2 Restricted access
		p
			| In the interest of question security, access to secure sections of this website 
			| (for question sets that are not explicitly #[a(href='https://www.qbwiki.com/wiki/Clear#Packet_sets') clear]) 
			| is restricted to the following people only:
		ul
			li players who have participated in a mirror of the set
			li moderators, TDs, or other tournament staff who have assisted a mirror of the set
			li writers and editors of the set
			li unaffiliated people who have been granted exceptional permission by emailing me
		p
			| You must obtain access to this website through the set’s private discussion forum on hsquizbowl.org only. 
			| Do not tell anyone the password or ask for it.
		p
			| Do not share any links to this website or circulate any of its contents outside of the set’s discussion forum. 
			| All referers are logged.
		p
			| Patrons and others with early access should please refrain from
			| sharing links or circulating contents before public release as well.

		h2 Transparency
		p
			| Detailed stats give us valuable insight into how we play quizbowl, 
			| just as how analytics gives website owners insight into user experience.
			br
			| If you use an ad blocker or anti-tracker that blocks Google Analytics, please consider turning it off for this website. 
			| I rely on interaction data to improve it.
			br
			| #[ins#no-analytics]
			script.
				function checkAnalytics() {
					if (!(window.ga && ga.loaded))
						document.getElementById('no-analytics').innerHTML = 'Your browser blocked Google Analytics from loading.';
				}
				window.addEventListener('load', checkAnalytics);
		p
			| This website has only been tested in Google Chrome using a large, high-resolution screen so far.

		h2 About every.buzz/jank
		p
			| This is a temporary, static preview of #[a(href='/') every.buzz], a website for visualizing detailed quizbowl stats 
			| currently being developed by Ophir Lifshitz.
			br
			| It was privately released on December 7, 2018, and first published on January 5, 2019. 
			| More data and features will be added later.

		h2 Contributing
		p
			| This very simple website is built with Express (Node, Pug, Coffee, Sass). 
			| Project development takes place on the #[a(href='https://github.com/hftf/belgrade') GitHub repository].
		p
			| If you would like to hack on it, ask me for the database (SQLite) and packets (which will be posted on GitHub soon).
			br
			| Adding new features and stats is easy if you are competent in SQL; no frontend or backend experience is necessary.

		h2 Errata
		p
			| Follow #[a(href='https://minkowski.space/quizbowl/manuals/scorekeeping/player.html#errata') these instructions] to report errata.

		h2 Thanks
		p
			| I would like to thank to all volunteers for staffing and for putting up with an unusual system. 
			| My goal is to improve the experience of every player and moderator.
			br
			| Thanks to their efforts, editors have been able to make many informed improvements to their sets between mirrors, 
			| and we’ve all learned much more about question playability.
		p
			| Special thanks to all my supporters on #[a(href='https://www.patreon.com/hftf') Patreon] and #[a(href='https://venmo.com/hftf_') Venmo]​ˇ:
			ul(style='columns: 4; column-width: 10em; width: max-content; list-style: none;')
				li Alex Damisch
				li Alston Boyd
				li Ankit Aggarwal
				li Aseem Keyal
				li Auroni Gupta
				li Brad Fischer
				li Cody Voight
				li Dan Puma
				li Emmett Laurie
				li Eric Chen
				li Eric Mukherjee
				li Evan Lynch
				li Fred Morlan
				li Hidehiro Anto
				li Jakob Myers
				li James Lasker
				li Joe Su
				li John Lawrence​ˇ
				li Jordan Brownstein
				li Kenji Shimizu
				li Kevin Wang
				li Matthew Bollinger
				li Matthew Lehmann
				li Mike Etzkorn
				li Najwa Watson
				li Nikhil Desai
				li Oliver Clarke
				li Rob Carson
				li Ryan Rosenberg
				li Tejas Raje
				li Tim Morrison
				li Tracy Mirkin
				li Victor Prieto
				li Vishwa Shanmugam
				li Will Alston​ˇ
				li Will Nediger
				li William Golden

