.word
	display: inline-block
	vertical-align: top
	margin-bottom: 0.5em

.word .line
	display: block

.word .line.last
	font-size: 75%
	text-align: center

.word.hover
	outline: 2px solid #ee7
	background: #ee7
