$color6: #A2DEAC
$color1: #DABCD4
$color4: #D7D382
$color2: #E6B693
$color3: #B4D6D2

$color6: #DABCD4

$colorget: #757

// $color1: #8dd3c7
// $color2: #ffffb3
// $color3: #bebada
// $color4: #fb8072
// $color5: #80b1d3
// $color6: #fdb462
// $color7: #b3de69
// $color8: #fccde5
// $color9: #d9d9d9


html
	--base-sans-font: 'BentonSansCond', sans-serif
	--base-serif-font: 'Lyon Text', 'Times New Roman', Times, serif

body
	font-family: var(--base-serif-font)
	font-variant-numeric: lining-nums
	margin: 0 2em 1em

	text-decoration-skip-ink: none
	-webkit-text-size-adjust: none
	text-size-adjust: none

.twocol
	display: grid
	grid-template-areas: "a b"
	grid-gap: 2em
	grid-template-columns: 800px max-content

	&.skinny
		grid-template-columns: 200px max-content
header.twocol
	align-items: center
	nav
		ol, ul
			padding: 0
.left
	grid-area: a
.right
	grid-area: b


h1, h2, h3
	font-family: var(--base-sans-font)
	font-weight: 700

h1
	font-size: 1.5em
h2, header h1
	font-size: 1.25em
h3
	font-size: 1.1em

header
	border-bottom: 1px solid #ccc
header a
	&:not(:hover)
		color: inherit
		text-decoration: none
	&:hover
		text-decoration: underline

.chart
	.bar rect
		fill: rgba($colorget, 0.8)
		// fill: $color6
		shape-rendering: crispEdges

	path.kde
		fill: none
		stroke: $color1

	.axis path, .axis line
		fill: none
		stroke: black
		shape-rendering: crispEdges

	.x.axis .label
		text-anchor: middle

	.legend text
		dominant-baseline: central

path.sf
	fill: none
	stroke: $colorget
	stroke-width: 1.5px
	stroke-linecap: butt
	vector-effect: non-scaling-stroke
	shape-rendering: geometricPrecision

nav
	li
		display: inline-block
		margin-right: 1em

blockquote
	padding: 0 0.8em
	border: 1px solid #ddd
	position: relative


// ruby
// 	border-width: 0 0 3px 0
// 	border-style: solid
// 	border-color: #bef
// .bracket-instruction,
// rt,
// rp
// 	font-family: 'Novel SansCond Pro', sans-serif
// 	font-size: 100%
// 	font-weight: normal
// 	font-style: normal
// 	color: #58c

// ruby
// 	ruby-align: space-around
rt
	font-size: 80%
	display: none
blockquote
	margin: 1em 0
	line-height: 1.4

.next_tick
	font-size: 60%
	line-height: 1.1
	position: absolute
	top: -10px
	left: -2px
	padding-left: 2px
	color: darken($color3, 18)
	font-weight: normal
	font-style: normal
	border: 1px solid currentColor
	border-width: 0 0 0 1px
	height: 30px
	// width: 40px
	pointer-events: none
	user-select: none
	display: block
	z-index: -1
	b
		font-weight: 700
		// position: absolute
		// right: 100%

svg, .line.last, .next_tick
	font-family: var(--base-sans-font)
.lower
	height: 1em

.answer
	strong, b
		font-weight: 600
	.s1, .underline
		text-decoration: underline
.key
	position: absolute
	right: 0.8em
	bottom: 0.25em

.line.last
	font-weight: normal
	font-style: normal
	// font-variant-numeric: tabular-nums
	color: #999
	user-select: none
.get
	color: $colorget
	blockquote &
		font-weight: 500
.bb
	color: darken($color4, 20)
	blockquote &
		font-weight: 300
.neg
	color: darken($color2, 15)
	blockquote &
		font-weight: 400

.serif, .dag
	font-family: var(--base-serif-font)

table
	font-size: 90%
	font-variant-numeric: tabular-nums lining-nums

	border-spacing: 0
	border-collapse: collapse
	table-layout: fixed
th
	font-weight: 600
	text-align: left
td, th
	padding: 1px 6px
.buzzes td
	&:nth-child(-n+2),
	&:nth-child(n+8)
		color: black

tbody.stripe
	tr:nth-child(2n)
		background: #f2f2f2

.chart .axis .tick line
	stroke: rgba(0,0,0,0.1)

.tabular-nums
	font-variant-numeric: tabular-nums lining-nums

.cur
	background: #ffc !important
table.center
	margin: auto
	text-align: center
colgroup:not(:first-of-type)
	border-left: 1px solid #ccc
col:not(:first-of-type)
	border-left: 8px solid transparent

.r
	text-align: right
.ellipsis
	text-overflow: ellipsis
	max-width: 0
	overflow: hidden
	white-space: nowrap

tr.hover
	outline: 2px solid #ee7
	background: #ee7 !important

td.bar
	// background-image: linear-gradient(#eee, #eee)
	// background-size: 100% 0
	// background-position: right top
	// background-repeat: no-repeat
	--bar-color: lighten($colorget,40)
	background-image: linear-gradient( var(--bar-color), var(--bar-color) )
	background-size: 100% 0
	background-position: left bottom 2px
	background-repeat: no-repeat

	table:hover &
		--bar-color: lighten($colorget,6)
.bar
	padding-left: 3px
	padding-right: 3px
.strong
	font-weight: 600

tr.rollup
	border-top: 4px double #ccc
.warning
	letter-spacing: 2px
